MYSQL_ROOT_PASSWORD=CHANGE_ME
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
APP_JWT_SECRET=CHANGE_ME_TO_A_VERY_LONG_SECURE_KEY
SPRING_MAIL_USERNAME=CHANGE_ME@gmail.com
SPRING_MAIL_PASSWORD=CHANGE_ME_APP_PASSWORD